/*-- GERAL --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ethno";
  src: url("../fonts/ethnocentric\ rg.otf") format('opentype');
}

@font-face {
  font-family: "belfast";
  src: url("../fonts/belfast-grotesk-semi-bold.ttf") format("truetype");
}

:root{
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Poppins', sans-serif;
}

.container {
  padding-inline: 0rem;
}

ul{
  list-style: none;
}

.logo-box{
  display: flex;
  align-items: center;
  gap: .7rem;
}

.logo-box img{
  width: 5rem;
}

.logo-box h1{
  font-family: "ethno", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: .3rem;
  color: white !important;

  padding-top: 1rem;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
}

/*-- HEADER --*/

#main-header{
  position: fixed;
  width: 100%;
  padding-block: 2rem;
  z-index: 99;
  background-color: transparent;
}

#main-header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-header ul{
  display: flex;
  padding-top: 1rem;
  gap: 3rem;
}

#main-header ul li a{
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  transition: all 6ms linear;
}

#main-header ul li .blue{
  color: rgb(134, 191, 196);
}

.blue{
  color: rgb(134, 191, 196);
}

#main-header ul li a:hover{
  color: rgb(134, 191, 196);
}

/*-- HERO PAGE --*/
#hero-page{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  background-image: url(../img/World\ Vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

}

#hero-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100%;
  gap: 0.5rem;
  z-index: 3;
  color: rgb(255, 255, 255, 0.9) !important;
}

#hero-page .container h2{
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

#hero-page .container .holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

#hero-page .container h1{
  font-family: 'belfast', sans-serif;
  font-size: 6rem;
}

#hero-page .container p{
  padding-top: 2rem;
  width: 40%;
  font-size: 1.3rem;
}

.custom-button{
  margin-top: 2rem;
  padding: 1.5rem 2.5rem;
  background: rgba(100, 143, 147, 1);
  border: none;
  text-transform: uppercase; 
  cursor: pointer; 
  transition: all 0.3s linear;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.custom-button:hover{
  background-color: rgb(156, 201, 205);
  transform: scale(1.05);
}

/*-- ABOUT US --*/
#about{
  background-color: rgb(238, 240, 241);

}

#about .container{
  display: flex;
  gap: 5rem;
  padding-block: 30rem; 
}

#about .image-holder{
  width: 50%;
}

#about .image-holder img {
  width: 100%;
}



#about .content{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 1rem;
  width: 50%;
}

#about .content h2{
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

#about .content h1{
  font-family: 'belfast', sans-serif;
  font-size: 3rem;
}

#about .content img{
  width: 30%;
  height: 10rem;
  padding-bottom: 1rem;
}

#about .content p{
  font-size: 1.4rem;
}

/*-- SERVICES --*/

#services{
  background-color: rgb(230, 235, 240);
}

#services .container{
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding-block: 25rem;
}

#services .services-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#services .services-header h2{
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

#services .services-header h1{
  font-family: 'belfast', sans-serif;
  font-size: 3rem;
  text-align: center;
  width: 60%;
}

#services .services-header p{
  font-size: 1.3rem;
  text-align: center;
  width: 60%;
}

#services .services-list{
  background-color: transparent !important;
  display: flex;
  justify-content: space-around;
}

#services .services-list .card{
  display: flex;
  flex-direction: row;
  gap: 2rem;

  border: none;

  width: 35%;
  background-color: transparent !important;
}

#services .services-list .card i{
  font-size: 3.5rem;
}

#services .services-list .card .right{
  display: flex;
  flex-direction: column;

  gap: 1.4rem;
}

#services .services-list .card h1{
  font-family: 'belfast', sans-serif;
  padding-top: 0.1rem;
  font-weight: 700;
}

#services .services-header h1::after {
  content: "";
  display: block;
  width: 21rem; /* Escolha o tamanho que desejar */
  height: 2px; /* Escolha a espessura da linha */
  background-color: #000; /* Escolha a cor que preferir */
  margin: 0 auto;
  margin-top: 1.6rem; /* Ajuste para controlar a distância entre o título e a linha */
  margin-bottom: 1rem;
}


#services .services-list .card p{
  font-size: 1.3rem;
  width: 70%;
}


/*-- COLLABORATORS --*/

#collaborators .container{
  padding-top: 0;
  gap: 10rem;
}

#collaborators h2{
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

#collaborators .collaborators-header h1{
  font-family: 'belfast', sans-serif;
  font-size: 3rem;
}

#collaborators .holder-collaborators{
  display: flex;
}

#collaborators .parceiros{
  width: 50%;
  display: flex;
  flex-direction: column;

  gap: 10rem;
}

#collaborators .clientes{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  
}

#collaborators img{
  width: 25%;
}

/*-- CONTACT --*/
#contact{
  background-color: rgb(238, 240, 241);
}

#contact .container{
  display: flex;
  flex-direction: row;
}

/*-- CONTACT CONTENT --*/
#contact .content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact .content h1{
  font-family: 'belfast', sans-serif;
  font-size: 4rem;
  width: 90%;
  margin-bottom: 2rem;
}


#contact .content .custom-button{
  width: 50%;
  margin-bottom: 1rem;
}

#contact .content p{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}

#contact .content i{
  font-size: 2rem;
}

#contact img{
  width: 50%;
}


footer{
  background-color: black;
  padding-block: 8rem;
  color: white;
}

footer .container{
  display: flex;
  justify-content: space-between;
}

footer .container .company{
  width: 33%;
}

footer .container .locations{
  width: 33%;
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
}

footer .container .socials{
  width: 33%;
  display: flex;
  flex-direction: column ;
  padding-left: 25rem;
}

footer .container .logo-box{
  padding-bottom: 7.5rem;
}

footer .container p{
  font-size: 1.2rem;
}

footer .container .company p{
  padding-left: 1rem;
}

footer .container h2{
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;

  text-decoration: underline;
}

footer .container .locations p{
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .container .locations p i{
  font-size: 2rem;
}

footer .container .locations p:nth-child(2){
  width: 100%;
}

footer .container .locations p:nth-child(3){
  margin-bottom: 2.5rem;
}

footer .container .socials ul{
  padding-top: 1rem;
  display: flex;
  gap: 3rem;
  padding-left: 0;
}

footer .container .socials ul li a{
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}